@layer components {
  .list {
    display: flex;
    flex-direction: column;
  }

  .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    height: 3.2rem;
  }

  .link {
    @include font-body4;

    color: $color-black;
    display: flex;
    align-items: center;
    height: 100%;
    flex-grow: 1;
  }

  .cancelButton {
    background-color: transparent;
    border: none;
    padding: 0.8rem;
  }
}
