.button {
  border: 1px solid #000;
  height: 4rem;
  font-weight: 500;
  border: none;
  border-radius: 0.8rem;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.large {
  width: 30rem;
  font-size: 1.4rem;
}

.medium {
  width: 162.05px;
}

.backgroundBlack {
  background-color: #373c49;
  color: #ffffff;
}

.backgroundGray {
  background-color: #cfd3db;
  color: #ffffff;
}

.backgroundPink {
  background-color: #fe5a65;
  color: #ffffff;
}

.backgroundWhite {
  background-color: #ffffff;
}
