@layer components {
  .contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .main {
    position: relative;
  }

  .relativeBox {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: $size-mobile-max;
  }

  .topButton {
    position: absolute;
    bottom: 11rem;
    right: 4rem;
    z-index: 5;
  }
}
