@layer components {
  .container {
    position: sticky;
    bottom: 0;
    width: 100%;
    max-width: $size-mobile-max;

    display: flex;
    flex-direction: column-reverse;
    z-index: $z-index-bottom-nav;
  }
}
