@layer overrides {
  .orderLayout {
    display: flex;
    width: 100%;
    padding: 2rem 1.6rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.4rem;
  }

  .orderLayout h1 {
    @include font-headline3;
    text-align: center;
  }

  .orderList {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }

  .orderInfo {
    width: 33rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.4rem;
    align-self: stretch;
  }

  .orderInfoUp {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
  }

  .orderDate {
    color: $color-black;
    text-align: center;

    @include font-headline3;
  }

  .orderDetail {
    color: $color-gray-500;
    text-align: center;

    @include font-headline3;
  }

  .orderNumber {
    color: $color-gray-500;
    text-align: center;

    @include font-body6;
  }

  .orderCards {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.2rem;
  }

  .orderCardButtons {
    width: 33rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
  }
}
