.cart {
  padding: 3rem;
  padding-bottom: 11rem;
}

.checkbox {
  accent-color: #fe5a65;
}

.totalCheckboxContainer {
  display: flex;
  justify-content: space-between;
}

.totalCheckbox {
  display: flex;
  gap: 0.8rem;
  margin-bottom: 3rem;
  color: #73798d;
}

.faTrash {
  color: #b5b9c6;
}

.noProduct {
  display: flex;
  justify-content: center;
}

.bottomNavCart {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  bottom: 0;
  left: 0;
  box-shadow: 0px -4px 20px 0px rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
  padding: 2rem;
  position: fixed;
  width: 36rem;
  height: 9.4rem;
}

.howMuchMinus {
  text-align: center;
  font-size: 1.4rem;
}

.pink {
  color: #fe5a65;
}
