.reviewPageLayout {
  padding: 20px 16px;
}

.reviewPageHeader {
  display: flex;
  height: 48px;
  padding: 8px 0px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

.pageTitle {
  color: var(--Grayscale-Black, #111);
  text-align: center;

  /* Headline3 */
  font-family: SUIT;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 142.857% */
}

.totalReview {
  color: var(--Grayscale-Gray-400, #b5b9c6);

  /* Headline3 */
  font-family: SUIT;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.reviewBoxStyle {
  padding: 1.6rem 0;
  border-top: 0.1rem solid $color-gray-200;
}

.ratingBoxStyle {
  margin: 2rem 0 0.8rem;
}

.dropdown {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
}
