@layer components {
  .container {
    display: flex;
    justify-content: center;

    @include desktop {
      gap: 100px;
      // height: 100vh;
      // width: 100vw;
      // overflow: auto;
    }
  }

  .background {
    background-color: $color-pink-light;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateZ(0); // fixed 요소의 잔상 이슈 해결
    will-change: transform; // 브라우저 최적화
    z-index: $z-index-home-background;
  }

  .home {
    display: none;
    position: fixed;
    left: calc(-50rem + 50vw);
    color: $color-pink-main;
    border: 1px solid $color-pink-main;
    width: 300px;
    height: 100vh;

    @include desktop {
      display: block;
    }
  }

  .contents {
    width: 36rem;
    height: 100vh;
    // background-color: #fff; /* colors 상수로 변경 예정 */
    // padding: 2rem 1.6rem;
  }

  .main {
    background-color: #fff; /* colors 상수로 변경 예정 */
    padding: 2rem 1.6rem;
  }
}
