.payment {
  max-width: 360px; // 최대 너비 설정
}
.orderProduct {
  padding: 3rem;
}
.orderTitle {
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
}

.paymentButton {
  margin-top: 3.2rem;
}
