.container {
  position: relative;
  width: 100%;
}

.background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.wrapper {
  flex-direction: column;
  position: fixed;
  z-index: 10;
  width: 100%;
  max-width: 43rem;
  bottom: -1000px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: white;
  border-radius: 20px 20px var(--selectpayment, 0px) var(--selectpayment, 0px);
  box-shadow: 0px -4px 30px 0px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  overflow: auto;
}

.headerWrapper {
  height: 48px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  position: relative;
  padding-top: 16px;
  padding-bottom: 4px;
}

.handleBar {
  width: 68px;
  height: 4px;
  border-radius: 2px;
  background-color: #373c49;
  margin: auto;
}

.contentWrapper {
  padding: 10px;
}

// .sheetBackground {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100lvh;
//   background: white;
//   box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
//   border-radius: 24px 24px 0 0;
//   padding: 12px 0 24px 0;
//   will-change: transform;
// }

// .backgroundOverlay {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100dvh;
//   background: black;
// }
