%reviewBoxBlackStyle {
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  line-height: 150%;
}

%reviewBoxGrayStyle {
  color: #a7a7a7;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  line-height: 150%;
}

.reviewBox {
  max-width: 36rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.profileImg {
  width: 4.2rem;
  height: 4.2rem;
  flex-shrink: 0;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 1.4rem;
}

.userInfoDetail {
  width: 100%;
}

.nicknameAndDate {
  display: flex;
  justify-content: space-between;
}

.nickname {
  @extend %reviewBoxBlackStyle;

  font-weight: 600;
}

.date {
  @extend %reviewBoxBlackStyle;

  font-weight: 500;
}

.productDetail {
  display: flex;
  align-items: center;

  p {
    @extend %reviewBoxGrayStyle;

    font-weight: 600;

    &:nth-child(odd) {
      border-right: 2px solid #a7a7a7;
    }

    &:nth-child(even) {
      margin-left: 0.4rem;
    }
  }

  span {
    @extend %reviewBoxGrayStyle;

    font-weight: 500;
    margin: 0 0.4rem;
  }
}

.ratingBox {
  display: flex;
  justify-content: flex-start;
}

.ratingCount {
  @extend %reviewBoxBlackStyle;

  margin-left: 1rem;
  font-weight: 500;
}
