@layer overrides {
  .signupLayout {
    padding: 2rem 1.6rem;
  }
<<<<<<< HEAD
<<<<<<< HEAD
=======

>>>>>>> f562e1f1df633d9224dcfed8c21c1c485f25f11f
  .buttonArea {
    display: flex;
    height: 4.8rem;
    padding: 0.8rem;
    align-items: center;
    gap: 0.8rem;
    flex-shrink: 0;
    align-self: stretch;
  }
=======
>>>>>>> e99b7e9732372c5fd1f41c58c340b957dfb7c154
}
