@mixin move-words($duration) {
  @keyframes move-words {
    0% {
      left: 0%;
    }
    100% {
      left: calc(-1 * (var(--title-width) + 1rem));
    }
  }

  animation: move-words $duration linear infinite;
}

.card {
  text-decoration: none;
  color: #000000;
  display: inline-flex;
  overflow: hidden;
}

.cardImage {
  position: relative;
  border-radius: 1.2rem;
  overflow: hidden;
  flex-shrink: 0;
}

.cardContent {
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 0;
}

.titleBox {
  position: relative;
}

.titleInnerBox {
  display: flex;
  gap: 1rem;
  position: absolute;
  @include move-words(var(--animation-duration));
}

.title {
  float: left;
  white-space: nowrap;
  font-weight: 600;
}

.option {
  color: #a7a7a7;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0.8rem 0 0.6rem;
}

.outOfStock {
  color: #b5b9c6;
  font-size: 1.1rem;
}

.originalPrice {
  text-decoration: line-through;
  margin: 0.4rem 0;
  font-weight: 500;
  color: #beb9c6;
}

.discountedPrice {
  display: flex;
  gap: 0.5rem;
  font-weight: 600;
}

.discountRate {
  color: #fe5a65;
}

.star {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  margin: 0.4rem 0;
}

.starRating {
  font-weight: 400;
}

.tags {
  display: flex;
}
